.App {
  text-align: center;
}
body{
  background-color: #22262F !important; /*#F6FAFE*/
  background-image: url(/src/component/images/bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}